body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ea7629;
}

header{
    background-color: #ff4000;
    color: #fff;
    padding: 10px;
    width: auto;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav a:hover{
    text-decoration: underline;
}

.titulo{
    text-align: center;
    color: white;
	margin-bottom: 5px;
    margin-top: 5px;
    font-size: 50px;
}

footer{
    background-color: #ff4000;
    color: #fff;
    padding: 10px;
    width: auto;
    height: auto;
}

.pieti{
    text-align: center;
    color: black;
    font-size: 10px;
}

.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    /*border: 1px solid #ccc;*/
    border-collapse: collapse;
    padding: 8px;
}

th, td {
    color: white;
    padding: 10px;
}
.seccion1 {
    padding: 10px;
}

html{
    width:auto;
}

.btn {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: #ff4000;
    color: white;
    text-decoration: none;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 5px 0;
}

button[type="submit"] {
    background-color: #ff4000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ea7629;
    border-radius: .25rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.card-img-top {
    width: 414px;
    height: 414px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

.card-text {
    margin-bottom: 1rem;
}

.list-group-item {
    border-color: #ea7629;
}

.col-md-4 {
    flex: 0 0 auto;
    max-width: 20%;
}
